[submodule "config"]
	path = config
	url = git@github.com:PokiFOX/BoardGames-config.git
[submodule "server"]
	path = server
	url = git@github.com:PokiFOX/BoardGames-server.git
[submodule "app"]
	path = app
	url = git@github.com:PokiFOX/BoardGames-app.git
